/// Utility classes
///
/* Hide visually but preserve accessibility. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  /*  Defines a rectangle at the specified inset distances from each side of the reference box. */
  /* Similar to: clip-path: rect(0 0 0 0) */
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
